[submodule "Vendor/googletest"]
	path = Vendor/googletest
	url = https://github.com/sravankaruturi/googletest
[submodule "Vendor/spdlog"]
	path = Vendor/spdlog
	url = https://github.com/gabime/spdlog
[submodule "Vendor/glfw"]
	path = Vendor/glfw
	url = https://github.com/sravankaruturi/glfw
[submodule "Vendor/ImGui"]
	path = Vendor/ImGui
	url = https://github.com/sravankaruturi/imgui.git
[submodule "Vendor/glm"]
	path = Vendor/glm
	url = https://github.com/g-truc/glm